/* Reset básico */
body, h1, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #333;
    color: #fff;
}

/* Logo */
header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Navegação */
header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #00d8ff;
}